# OSX
#
.DS_Store

# front folders
ios
android
__tests__
node_modules


# setting files
.eslintrc.js
.flowconfig
.prettierrc.js
.watchmanconfig
babel.config.js
package-lock.json
.buckconfig

# back folders
back/node_modules